fastapi
uvicorn[standard]
gunicorn
python-multipart
sqlalchemy
pgeocode
opencv-python-headless
zxing-cpp
resend
python-dotenv
google-generativeai
requests
selenium
playwright
playwright-stealth
beautifulsoup4
pytest
httpx
